

@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&family=Geologica:wght@400;500;600;700&family=Hammersmith+One&family=IBM+Plex+Mono:wght@300;400;500;600;700&family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Lato:ital,wght@0,400;0,700;1,700&family=Mukta+Malar:wght@400;700&family=Murecho&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600&family=Raleway:wght@400;500&family=Red+Hat+Display:wght@400;600;700&family=Righteous&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-size: 2.5vh;
  line-height: 1.6rem;
  letter-spacing: .02rem;
  text-align: center;
  background-color: black;
  box-sizing: border-box;

  color: var(--text-color-light);

  --border-radius: 10px;
  --text-color-light: rgb(255, 249, 229);
  --text-color-dark: black;
  --card-color-dark:  #423b5e;
  --card-color-light: rgb(246, 233, 217);
  --font-text-normal: 'Poppins', sans-serif;
  --font-md-normal: "Poppins", sans-serif;
  --font-nav-normal: "Poppins", sans-serif;
  --font-nav-title: 'Mukta Malar', sans-serif;
  --font-title-normal:'Lato', sans-serif;


  --border-setting: 5px solid var(--color-borders);
  --border-radius: 6px;
  --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 10px rgba(0, 0, 0, 0.3);

    font-family: 'Cuprum', sans-serif;
font-family: 'Geologica', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Serif', serif;
font-family: 'Lato', sans-serif;
font-family: 'Mukta Malar', sans-serif;
font-family: 'Murecho', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Hammersmith One', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.no-scroll {
  overflow: hidden;
  
}

p { 
  text-indent: 1.2rem;
}
a {
  color: bisque;
  text-decoration: none;
}
h1{
  font-family: var(--font-nav-title);
  font-weight: bold;
  font-size: 2.5rem;
  display: inline;
}
h2{
  font-size: 3rem;
  line-height: 3rem;
  margin-block: .3rem;
}
h3 {
  font-size: 2rem;
  display: inline;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.h-inline{
  display: inline;
}

.hero-container {color: white;}


.hero-container {
  display: flex;
  margin: auto;
  margin-top: 2.5vh;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-height: 550px;
  
  overflow: hidden;
  
}
 .hero-container img{
  width:90vw;
  max-width: 1200px;

 }



/*-----Grid---*/
.container {
  margin: auto;
  margin-top: 15vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 95vw;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "hero-container"
    "title-area "
    "content-area "
    "footer-area ";
    
}

.title-area {
  margin: auto;
  grid-area: title-area;
  padding: 1.5rem;
}



.content-area {
  margin: auto;
  justify-content: center;
  gap: 30px;
  display: grid;
  width: 90vw;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  grid-area: content-area;
}
.card-content-area {
  margin: auto;
  justify-content: center;
  gap: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  grid-area: content-area;
}


.footer-area ul li {
  float: none;
  max-width: fit-content;
}





/*---Card Modal-----*/
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {

  margin: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  margin-top: 15vh;
  display: block;
  width: 100vw;
  scale:1.5;
  max-height: 600px;
  max-width: 800px;
  
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/*----About----*/

/*----Responsive----*/
/*----Cell Phone----*/


@media only screen and (max-width: 700px) {
  :root {
    font-size: 2vh;
    overflow-x: hidden;



  }
  h3{
    font-size: 1.5rem;
  }
  .container{
    margin-top: 10vh;
    max-width: 96vw;
  }
  .content-area {
    width: 90vw;
    grid-template-columns: auto;
  
  }
 
  .hero-container img{
    width:90vw;
   }

}
/*-------end cell--------*/
